/* Fonts */
@font-face {
    font-family: 'Rubik';
    src: url('../public/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

/* Root */
:root {
    /* Colors */
    /* --bg-main: darkolivegreen;
    --bg-darker: rgb(78, 104, 49); */
    /* --bg-darker: rgb(56, 73, 39); */
    /* --bg-main: #366839;
    --bg-darker: #21512B; */
    --bg-main: #406836;
    --bg-darker: #1f4928;
    --bg-lighter: #629165;

    --bg-comp: rgb(14, 72, 126);
    --bg-comp-light: rgb(19, 83, 143);
    --bg-comp-lighter: rgb(48, 128, 202);

    --text: white;
    --secondary-text: rgb(202, 211, 221);
    --link: #7ec1ff;

    --warm-shadow: rgb(65, 26, 0);

    /* Cards */
    --red: #c83636;
    --yellow: #eec719;
    --green: #20860e;
    --blue: #166aca;
    --black: #000000;

    /* Misc */
    --container-width: 640px;
    --shadow-color: #181854;
    --shadow-distance: 6px;
    --shadow-border: 1px;
}

/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    color: var(--text);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 450;

    background-color: var(--bg-main);
    background: radial-gradient(closest-corner, var(--bg-main) 60%, var(--bg-darker) 100%);


    /* background-size: cover;
    background: repeating-linear-gradient(
        45deg,
        var(--bg-a),
        var(--bg-a) 45px,
        var(--bg-b) 45px,
        var(--bg-b) 90px
    ); */

    width: 100%;
    height: 100vh;
}

a {
    color: var(--link);
}
a:hover,
a:focus-visible {
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 20pt;
    margin-bottom: 12px;
    --shadow-color: rgba(0, 0, 0, 0.5);
}
h2 {
    font-size: 30pt;
    /* border-bottom: 5px solid var(--text); */
}
h3 {
    font-size: 20pt;
}
h4 {
    font-size: 15pt;
}
h5 {
    font-size: 13.5pt;
    margin-bottom: 6px;
}
h6 {
    font-size: 11pt;
}
img {
    -webkit-user-drag: none;
}
hr {
    --color: var(--bg-comp-lighter);

    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--color);
}

.secondary_text {
    color: var(--secondary-text);
}
.small {
    font-size: 12pt;
    color: var(--secondary-text);
    margin-left: 12px;
}

*[data-title] {
    position: relative;
}
*[data-title]::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 6px);
    /* z-index: 1; */

    background-color: white;
    color: black;
    border: 3px solid var(--warm-shadow);
    padding: 9px 18px;
    border-radius: 9px;
    font-size: 11pt;
    font-weight: 450;

    opacity: 0;
    /* transform: translateX(-50%) translateY(2px); */
    transform: translateY(2px);
    pointer-events: none;
    transition: 0.15s ease;
}
*[data-title]:hover::after,
*[data-title]:focus-visible::after {
    opacity: 1;
    /* transform: translateX(-50%); */
    transform: none;
}


/* Shorthand */
.flex {
    display: flex;
}
.flex_important { display: flex !important; }
.underline {
    border-bottom: 5px solid white;
}
.fullwidth { width: 100%; }
.cursor_pointer { cursor: pointer; }
.float_right { float: right; }
.small_text {
    font-size: 20pt !important;
}

/* Container */
.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 32px 20px 0;
}
.cols_container {
    display: flex;
    gap: 30px;
}
.cols_container > .col {
    width: 100%;
}
.gap_12px {
    gap: 12px;
}

.border_shadowed,
.hover_border_shadowed:hover,
.hover_border_shadowed:focus-visible {
    filter:
        drop-shadow(-1px -1px var(--shadow-color))
        drop-shadow(-1px  1px var(--shadow-color))
        drop-shadow( 1px -1px var(--shadow-color))
        drop-shadow( 0px  -2px var(--shadow-color))
        drop-shadow( 0px  2px var(--shadow-color))
        drop-shadow(var(--shadow-distance) var(--shadow-distance) var(--shadow-color));
}

/* Logo */
#main_logo {
    max-width: 400px;
    width: 100%;
    padding: 12px;
    margin: 0 auto;
}

/* Inputs */
input, button {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

input.input_primary {
    background-color: var(--bg-comp);
    color: white;

    width: 100%;
    padding: 6px 9px;
    border: 1px solid var(--bg-comp-lighter);
    border-radius: 5px;
}
input.input_primary::placeholder { color: var(--bg-comp-lighter); }
input.input_primary:focus {
    background-color: var(--bg-comp-light);
    border-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    outline: none;
}

/* Button */
button {
    cursor: pointer;

    background-color: transparent;
    border: none;
    color: var(--text);
}
button:hover,
button:focus-visible {
    z-index: 1;
}

.button_primary {
    --shadow-distance: 3px;

    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 14pt;
    font-weight: 600;

    width: 100%;
    padding: 11px 24px;
    border: 3px solid white;
    border-radius: 6px;

    color: white;
    background-color: #508ddc;

    transition: filter 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}
.button_primary[disabled] {
    /* opacity: 0.5; */
    filter: brightness(70%) contrast(90%);
    /* cursor: not-allowed; */
    cursor: unset;
}
button.button_primary:not([disabled]):hover,
button.button_primary:not([disabled]):focus-visible {
    --shadow-distance: 5px;
    transform: translate(-1px, -1px);
    background-color: rgb(243, 251, 255);
}
.button_primary > * {
    --shadow-color: rgba(0, 0, 0, 0.5);
    transition: filter 0.2s ease;
}
.button_primary > img {
    width: 18px;
}
/* .button_primary > span {
    --shadow-distance: 2px;
} */

/* Secondary */
.button_secondary {
    display: unset;
    font-size: 12pt;
    padding: 6px 24px;
    border-width: 2px;
    text-align: center;
}
.button_secondary:hover,
.button_secondary:focus-within {
    color: black;
}

.button_mini {
    max-width: max-content;
}
.button_micro {
    width: unset;
    padding: 6px 12px;
}

/* Colors */
.button_green {
    background-color: rgb(155, 202, 79);
}
.button_lightbg {
    background-color: var(--bg-lighter);
}
.button_comp {
    background-color: var(--bg-comp-light);
}



/* Lobby */
#lobby, #config {
    animation: lobby_in 1s cubic-bezier(0.075, 0.82, 0.165, 1) backwards;
}
#config {
    animation-delay: 0.1s;
}
@keyframes lobby_in {
    from {
        transform: translateY(24px);
        opacity: 0;
    }
}

#config {
    padding-bottom: 200px;
}
#config > .item {
    --bg-comp: var(--bg-lighter);
    --shadow-color: rgba(0, 0, 0, 0.5);

    background-color: var(--bg-lighter);
    border: 3px solid white;
    border-radius: 5px;
    padding: 9px 24px 9px 80px;
    margin-top: 24px;


}
/* #config > .item label {
    cursor: pointer;
} */
#config > .item img {
    position: absolute;
    top: -14px;
    left: 24px;

    width: 40px;
}
#config > .item .inner {
    display: flex;
    align-items: center;
}
#config > .item .desc {
    margin-left: -56px;
}
#config > .item .decorator {
    position: absolute;
    inset: 0; top: unset;
    z-index: -1;

    height: 45%;

    background-color: rgba(0, 0, 0, 0.15);
}

#config > .item .input_container {
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--bg-main);
    border: 6px solid var(--bg-lighter);

    display: flex;
    gap: 2px;
}
#config > .item input,
#config > .item button {
    min-width: 36px;
    font-size: 14pt;
    text-align: center;

    background-color: var(--bg-lighter);
    color: white;
    border: none;
}
#config > .item input {
    min-width: 64px;
}

/* REMOVE INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
#config > .item input::-webkit-outer-spin-button,
#config > .item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#config > .item input[type=number] {
  -moz-appearance: textfield;
}

.margin_left_auto { margin-left: auto; }

button.share_button {
    font-size: 14pt;
    font-weight: 550;
    text-align: left;

    width: 100%;
    padding: 2px 9px;
    margin-top: 6px;

    background-color: var(--bg-main);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}



/* Game */
#game {
    position: absolute;
    inset: 0;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* Pile */
#pile {
    position: relative;
    height: 168px;
}
/* #pile > .card {
    position: absolute;
} */



/* Players */
.player {
    /* position: absolute; */

    max-width: 100vw;
}
.player > .inner {
    display: flex;
    gap: 6px;

    /* position: absolute; */

    width: unset !important;
    max-width: 100%;
    overflow-x: auto;

    padding: 8px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
}

/* Compact all cards except current player's */
.player:not(.position_0) .card:not(:first-of-type) {
    margin-left: -50px;
}

.position_0 {
    position: absolute;
    align-self: flex-end;
    transform-origin: bottom center;
}
.position_1 {
    position: absolute;
    left: 0;
    max-width: 95vh;

    transform-origin: bottom left;
    transform: rotate(90deg) scale(0.8) translateX(-80%);
}
.position_2 {
    position: absolute;
    align-self: flex-start;

    transform-origin: top center;
    transform: scale(0.8);
}
.position_3 {
    position: absolute;
    right: 0;
    max-width: 95vh;

    transform-origin: bottom right;
    transform: rotate(-90deg) scale(0.8) translateX(80%);
}


#game_center {
    display: flex;
    gap: 24px;

    /* outline: 3px solid white; */
}

#game_center > .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    --shadow-color: var(--warm-shadow);
    --shadow-distance: 6px;
}
.middle .turn {
    margin-top: 6px;
    font-weight: 700;
    font-size: 24pt;
}

#arrow {
    font-size: 48pt;

    /* perspective-origin: 800px; */
    transform: rotate(90deg);
    transition: transform 0.6s ease;
}
#arrow > svg > path {
    fill: rgb(255, 198, 9);
}
#rotation {
    text-align: center;
    font-size: 32pt;
    font-weight: 900;
    color: white;

    transform-origin: 50% 55%;

    transition: transform 1s ease;
}


/* Stack */
.card_stack {
    position: absolute;
    z-index: -1;

    --bg-main: rgb(179, 195, 204);
    --bg-darker: rgb(146, 165, 189);
    background: repeating-linear-gradient(
        0deg,
        var(--bg-main),
        var(--bg-main) 2px,
        var(--bg-darker) 2px,
        var(--bg-darker) 4px
        );
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

    width: 110px;
    margin-top: -12px;
    border-radius: 0 0 12px 12px;
}
.card:has(+ .card_stack) {
    box-shadow: none;
}

/* Card */
.card {
    --card-color: gray;
    --border-color: white;

    font-size: 110px; /* Determines card width */
    width: 1em;
    aspect-ratio: 110 / 168;
    /* Other values will be: percentOfWidth * 1.1 */

    display: block;
    position: relative;
    overflow: hidden;
    flex: none;

    background-color: var(--card-color);
    border: 0.044em solid var(--border-color); /* 4px */
    border-radius: 0.132em; /* 12px */
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.8);

    user-select: none;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.card.empty {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: transparent;
}
.card.xrayed {
    --border-color: rgb(0, 59, 50);
    filter: brightness(50%) contrast(85%);
    /* animation: xray 2s ease-in infinite alternate; */
    transform: scale(0.95, 0.95);
}
/* @keyframes xray {
    0% { border-color: rgb(76, 216, 95); }
    100% { border-color: rgb(189, 255, 187); }
} */
.card.clickable { cursor: pointer; }
.card.clickable:hover,
.card.clickable:focus-visible {
    transform: translateY(-5px) scale(1.01, 1.01) !important;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.4) !important;
}
.card > .oval {
    --height: 70%;
    position: absolute;

    background-color: var(--card-color);
    border-radius: 100%;
    transform: skew(-25deg);
    border: 0.06em solid var(--border-color); /* 6px */

    top: calc(calc(100% - var(--height)) / 2);
    height: var(--height);
    width: 100%;
    overflow: hidden;
}
.card.no_decorator > .oval {
    background-color: white;
}
.card > .symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card > .symbol > * {
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 0.575em;
    width: 0.8em; /* ~50px */

    filter:
        drop-shadow(0.09em 0.09em black)
        drop-shadow(-0.01em -0.01em black)
        drop-shadow(-0.01em  0.01em black)
        drop-shadow( 0.01em -0.01em black)
        drop-shadow( 0px  -0.03em black)
        drop-shadow( 0px  0.03em black);

    color: white;
}
.card > .symbol > p {
    width: unset;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 700;

    /* transform-origin: top left;
    rotate: -5deg; */
}

/* Back logo */
.card > .symbol > p.small_text {
    font-size: 0.32em !important;
}

.card > .symbol.corner_symbol {
    top: 24px;
    left: 17px;
}
.card > .symbol.corner_symbol > img {
    width: 18px;
}
.card > .symbol.corner_symbol > p {
    font-size: 17pt;
}
.card > .symbol.bottom_corner_symbol {
    top: unset;
    left: unset;
    bottom: 20px;
    right: 18px;
}

/* Wild card */
.card.wild .symbol:not(.corner_symbol) {
    display: none;
}
.card.wild > .oval > .oval_inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.card.wild > .oval > .oval_inner > .gradient {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(255,255,255,0.1) 15%, rgba(0, 0, 0, 0.4) 110%);
    mix-blend-mode: hard-light;
}
.card.wild > .oval > .oval_inner > .flex > div {
    width: 50%;
    height: 0.45em;
    background-color: rgb(255, 181, 181);
    /* border: 2px solid rgb(73, 140, 241); */
}
.red { background-color: var(--red) !important; }
.yellow { background-color: var(--yellow) !important; }
.green { background-color: var(--green) !important; }
.blue { background-color: var(--blue) !important; }


/* Card back */
.card.back {
    --card-color: black;
}
.card.back > .oval {
    background-color: var(--red);
}
.card.back p {
    background: -webkit-linear-gradient(-20deg, rgb(255, 252, 78), rgb(255, 147, 6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 26pt !important;
    transform: translate(-50%, -50%) rotate(-8deg);
}


.toast {
    background-color: rgb(61, 83, 68);
    width: 100%;
    border-radius: 32px 12px 32px 12px;
    border: 3px solid white;

    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.6);
}
.toast > .inner {
    padding: 18px 24px;
}
.toast h3 {
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 13.5pt;
}

.choose_color_container {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    transform: skewX(-3deg) skewY(-1.5deg);

    display: flex;
    flex-wrap: wrap;
}
.choose_color_container > div {
    width: 50%;
    height: 50%;
    border: 2px solid white;

    transition: box-shadow 0.15s ease, transform 0.15s ease, border-width 0.15s ease, filter 0.25s ease;
}
.choose_color_container:hover > div,
.choose_color_container:focus-within > div {
    filter: brightness(90%) contrast(90%);
}
.choose_color_container > div:hover,
.choose_color_container > div:focus-visible {
    transform: scale(1.1);
    border-width: 5px;
    filter: none;
    box-shadow: 0 0 9px black, inset 0 0 12px rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.choose_color_container > .red { transform-origin: bottom right; }
.choose_color_container > .yellow { transform-origin: bottom left; }
.choose_color_container > .green { transform-origin: top right; }
.choose_color_container > .blue { transform-origin: top left; }






/* Toasts */
#toasts {
    position: fixed;
    bottom: 24px;
    right: 24px;

    width: 100%;
    max-width: 240px;

    display: flex;
    flex-direction: column;
    gap: 9px;

    /* pointer-events: none; */
}
.toast {
    background-color: rgb(35, 59, 82);
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    overflow: hidden;
    /* pointer-events: initial; */

    animation: toast-anim 6s forwards ease;
}
@keyframes toast-anim {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }
    5% {
        opacity: 1;
        transform: none;
    }
    95% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateY(-3px);
    }
}
.toast .toast_time_bar {
    width: 100%;
    height: 3px;
    background-color: white;
    animation: toast_time_bar 6s forwards linear;
}
@keyframes toast_time_bar {
    to { width: 0; }
}




/* Chat (temporary) */
#chat {
    position: fixed;
    left: 0;
    bottom: 0;

    background-color: var(--bg-comp);
    border: 1px solid var(--bg-comp-lighter);
    padding: 12px 18px 18px 28px;
    border-radius: 0 6px 6px 0;
    border-left: none;

    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 600px;

    transform: translateX(calc(-100% - 18px));
    transition: transform 0.35s cubic-bezier(.42,0,.17,1.17);
}
#chat hr { --color: var(--bg-comp-lighter); }
#chat .chat_unavailable {
    text-align: center;
    padding-top: 24px;
}
#chat .close {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 18pt;
    padding: 2px 10px
}
.open > #chat {
    transform: translateX(-10px);
}
.open > #chat_button {
    transform: translateX(48px) rotate(45deg);
    opacity: 0;
    pointer-events: none;
}
.chat_messages {
    max-height: min(calc(100vh - 174px), 430px);
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 9px;
}
.chat_messages > p {
    border-top: 1px solid gray;
    padding: 2px 0;
}

/* Chat bar */
#chat .chat_bottom {
    position: absolute;
    left: 28px;
    bottom: 18px;
    right: 18px;
    display: flex;
    gap: 6px;

    background-color: var(--bg-comp);
    border: 1px solid var(--bg-comp-lighter);
    padding: 6px 9px;

    border-radius: 5px;
}
#chat .chat_bottom:focus-within {
    background-color: var(var(--bg-comp-light));
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#chat .chat_bottom[aria-disabled="true"] {
    display: none;
}

#chat .chat_bottom input {
    background-color: transparent;
    border: none;
    color: var(--text);
    padding-left: 3px;
    font-size: 11pt;
    /* outline: 1px solid red; */

    width: 100%;
}
#chat .chat_bottom input:focus {
    outline: none;
}
#chat .chat_bottom input::placeholder { color: var(--bg-comp-lighter); }
#chat .chat_bottom > button {
    /* outline: 1px solid greenyellow; */
    width: 48px;
}
#chat .chat_bottom > button > svg {
    width: 18px;
    vertical-align: middle;
}
#chat .chat_bottom > button > svg > path {
    transition: 0.1s fill ease;
    fill: var(--bg-comp-lighter);
}
#chat .chat_bottom > button.message_ready > svg > path {
    fill: var(--text);
}

#chat_button {
    --shadow-distance: 4px;

    position: fixed;
    bottom: 48px;
    left: 24px;

    background-color: var(--bg-comp);
    padding: 12px;
    border: 2px solid var(--bg-comp-lighter);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.1s filter ease, opacity 0.3s ease, transform 0.3s ease;
}
#chat_button:hover,
#chat_button:focus-visible {
    --shadow-distance: 6px;
    transform: translate(-1px, -1px);
    /* --shadow-color: var(--bg-comp-lighter);
    border-color: white; */
}
#chat_button > img {
    height: 32px;
    width: 32px;
    transform: translateY(3px);
    transition: transform 0.3s cubic-bezier(.34,1.19,.46,1.62);
}
#chat_button > span {
    position: absolute;
    font-size: 16pt;
    font-weight: 700;
    color: var(--bg-comp);
    transition: transform 0.3s cubic-bezier(.34,1.19,.46,1.62);
}
#chat_button:hover > img,
#chat_button:focus-visible > img {
    transform: translateY(-1px) rotate(-12deg);
}
#chat_button:hover > span,
#chat_button:focus-visible > span {
    transform: translateY(-4px) rotate(-12deg);
}
.bubble {
    position: absolute;
    left: 0;
    bottom: calc(100% + 32px);

    text-align: left;
    font-size: 11pt;

    width: max-content;
    max-width: 95vw;
    padding: 6px 12px;
    /* border-radius: 5px; */

    background-color: white;
    color: black;

    animation: bubble 0.3s ease;
}
@keyframes bubble {
    from {
        transform: translateY(5px) rotate(1deg);
    }
}
.bubble::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 16px;

    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    
    border-top: 12px solid white;
}
.bubble strong {
    padding-right: 9px;
}


/* Profile dialog */
.dialog {
    --bg-comp: rgb(46, 47, 117);
    --bg-comp-light: rgb(59, 61, 143);
    --bg-comp-lighter: rgb(100, 102, 216);

    width: 100%;
    max-width: 440px;
    padding: 12px 18px;

    background-color: var(--bg-comp);
    border: 1px solid var(--bg-comp-lighter);
    border-radius: 5px;
}
#profile {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.avatar_list {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.avatar_preview {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border: 2px solid var(--shadow-color);
    border-radius: 5px;
}
.avatar_preview:hover,
.avatar_preview:focus-visible {
    border-color: white;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}
body:has(#profile) .backdrop {
    opacity: 1;
    pointer-events: initial;
}

/* Users */
.users_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user {
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: left;

    border-radius: 10px;

    filter: drop-shadow(2px 2px 3px rgba(5, 8, 37, 0.5));
}
.user:hover,
.user:focus-visible {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
}
.user img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.user .name {
    font-weight: 600;
    font-size: 15pt;
}
.user .name.small_name {
    font-size: 11pt;
}
.user .socketid {
    font-size: 10pt;
    opacity: 0.6;
}
.user > .crown {
    position: absolute;
    top: -14px;
    left: -8px;
    transform: rotate(-22deg);
    font-size: 16pt;
}
.user .message {
    white-space: pre;
    font-weight: 450;
    color: var(--secondary-text);
}

.profile_button {
    border-radius: 200px;
}



/* Footer */
#footer_main > .inner {
    border: 5px solid var(--bg-lighter);
    border-radius: 10px;

    padding: 12px 24px;
}



/* Media queries */
@media only screen and (max-width: 1100px),
            screen and (max-height: 800px) {
    .card {
        font-size: 95px;
    }
    .card_stack { width: 95px; }
}
@media only screen and (max-width: 720px) {
    #game_center {
        flex-direction: column;
        gap: 0;
    }
    .card {
        font-size: 72px;
    }
    .card_stack { width: 72px; }
}
@media only screen and (max-height: 600px) {
    .card {
        font-size: 72px;
    }
    .card_stack { width: 72px; }
}


/* Columns */
@media only screen and (max-width: 640px) {
    .media_flex {
        flex-direction: column;
    }
}
